.downloadbtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: hsl(210deg 100% 70%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0000;
}
