.container {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.borderHorizLogo {
  border-radius: 3vmin;
  max-height: 15%;
  width: auto;
  margin: 10px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.heading {
  color: antiquewhite;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 0;
}
