.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  flex: 1;
}

.text {
  font-size: 32px;
  text-align: center;
}

.videoContainer {
  max-height: 50%;
  width: auto;
}

.video {
  height: 10%;
  width: auto;
}

.cta {
  margin-bottom: 2%;
}

.button {
  padding: 15px;
  cursor: pointer;
  background-color: lightgreen;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  width: max-content;
}
