.container {
  /* border: 2px solid; */
  max-width: 100%;
}

.header {
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  margin-left: 30px;
}

.heading {
  color: black;
  text-decoration: none;
}

.heading :hover {
  color: blue;
}

.heading :active {
  color: green;
}
.borderHorizLogo {
  border-radius: 25px;
  width: auto;
  max-height: 100px;
  padding: 10px;
}
